In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./covid0215to0422.csv")
df = df.set_index(["Country", "Date"]) # multi index
#df = df.set_index("Country") # single index
df

                  Date  TotalCases  TotalDeaths
Country
Algeria     2020-02-15           0            0
Algeria     2020-02-16           0            0
Algeria     2020-02-17           0            0
Algeria     2020-02-18           0            0
Algeria     2020-02-19           0            0
...                ...         ...          ...
Uzbekistan  2020-04-11         767            4
Uzbekistan  2020-04-12         865            4
Uzbekistan  2020-04-13         998            4
Uzbekistan  2020-04-14        1165            4
Uzbekistan  2020-04-15        1302            4

[4636 rows x 3 columns]

In [3]:
#df.to_json("./covid0215to0422index.json", orient='index') # good # not able single index
#df.to_json("./covid0215to0422records.json", orient='records')
#df.to_json("./covid0215to0422columns.json", orient='columns') # good # not able single index
#df.to_json("./covid0215to0422values.json", orient='values')
#df.to_json("./covid0215to0422table.json", orient='table') # good
df.to_json("./covid0215to0422split.json", orient='split') # best